<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/03_List%2C_Tuple_exercise_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [ ]:
# Method 1:

nums = [1,2,3,4]
nums                                 # creating a list using square braces and seperating elements by comma

[1, 2, 3, 4]

In [ ]:
# Method 2:

nums = list((1,2,3,4))               # creating a list using list class
nums

[1, 2, 3, 4]

In [ ]:
# Method 3:

# adding elements using extend method
nums = []
nums.extend([1,2,3,4])              # syntax = list.extend(iterable)-----iterable can be list,tuple or string
nums

[1, 2, 3, 4]

In [ ]:
# Method 4:

# adding elements using append method
nums = []
nums.append(1)                    # syntax = list.append(element)----- adds element(single value) at the end
nums.append(2)
nums.append(3)
nums.append(4)
print(nums)

[1, 2, 3, 4]

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [ ]:
# Method 1

[1, 2, 4]

In [ ]:
nums.remove(3)       # syntax : list.remove(value)------- removes the specified value from the list
nums

[1, 2, 4]

In [ ]:
# Method 2

[1, 2, 4]

In [ ]:
nums = [1,2,3,4]
nums.pop(2)         # syntax : list.pop(index value)------pops out the value at the specified index in the list
nums

[1, 2, 4]

In [ ]:
# Method 3

[1, 2, 4]

In [ ]:
nums = [1,2,3,4]
del nums[2]        # syntax : del list[index value]-------- deletes the value at the specified index
nums

[1, 2, 4]

In [ ]:
# Method 4

nums = [1,2,3,4]
result_nums = [x for x in nums if x != 3]       # syntax : using list comprehension ,append all elements to the resultant list except 3
print(result_nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [ ]:
# Method 1

lst = [2,3,4]
lst.insert(0,1)                                 # syntax : list.insert(index position,value)------inserts the value at the specified index position
lst

[1, 2, 3, 4]

In [ ]:
# Method 2

lst = [2,3,4]
lst_ele = [1]
new_lst = lst_ele + lst                        # using concatenation method(+)
print(new_lst)

[1, 2, 3, 4]

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [ ]:
lst

[1, 2, 3, 4]

In [ ]:
lst.insert(2,"two-and-half")                     # syntax : list.insert(index value,value)------inserts value at specified position
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
# CODE HERE

*convert into list*

In [ ]:
# Method 1

phrase_lst = list('Don\'t panic!' )             # using list() class
phrase_lst

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [ ]:
# Method 2

phrase_lst = []
phrase_lst.extend("Don't panic!")                # using extend method
phrase_lst

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [ ]:
phrase_lst

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [ ]:
# Method 1

phrase_lst.remove("'")                          # remove elements using remove method
phrase_lst.remove("!")
phrase_lst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [ ]:
# Method 2

phrase_lst.pop(3)                               # pops out ' which is at index 3
phrase_lst.pop(-1)                              # pops out ! which is at index -1(negative index)
phrase_lst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [ ]:
# CODE HERE
phrase_lst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [ ]:
# Method 1

phrase_lst.pop(-3)                                 # removes n,we used pop because we have to remove n which is not at its first occurance
phrase_lst.remove('a')                             # removes a
phrase_lst.remove('p')                             # removes p
phrase_lst.remove('D')                             # removes D
phrase_lst.extend(('p','a','n','D'))               # adding multiple elements (strings) at the end of the list
phrase_lst

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

In [ ]:
# Method 2

phrase_lst[5:8] = []                               # replacing elements at indices 5,6,7 i.e., 'p','a','n' with an empty list
phrase_lst.pop(0)                                  # pops out D which is at 0 index
phrase_lst.extend(['p','a','n','D'])               # adding multiple elements at end
phrase_lst

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE
lst = ['p','a','n','D','a']
str(''.join(lst))                                # joining the elements given within list

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

# Method 1

tupl = tuple((31,24,35,85))                             # using tuple class method
print(f' data type {type(tupl)}' , tupl, sep = '\n')

 data type <class 'tuple'>
(31, 24, 35, 85)

In [ ]:
# Method 2

tupl = (31,24,35,85)                                     # using parenthesis seperating elements by comma
print(f' data type {type(tupl)}' , tupl, sep = '\n')

 data type <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [ ]:
# CODE HERE
tupl

(31, 24, 35, 85)

In [ ]:

lst_tupl = list(tupl)                                  # converting tuple into list using type casting method
lst_tupl.remove(35)                                    # remove 35
tupl = tuple(lst_tupl)                                 # convert back into tuple
print(tupl)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE
new_tupl = tupl + tuple((85,19))
new_tupl

(31, 24, 35, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE

In [ ]:
# Method 1

tpl = ('i','n','n','0')                  # using memebership operator
'i' in tpl

True

In [ ]:
# Method 2

tpl = ('i','n','n','0')
x = False                                # initiating the value of z as False
for i in tpl:                            # for loop iterating over tuple(iterating object)
  if i == 'i':                           # if iterator is i
    x = True                             # update x as True
    break                                # break ----exit the loop
print(x)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [ ]:
# CODE HERE

# Method 1

list = ['Hello',100,[],'innomatics']
list[2] = [200]                             # replacing the value at index position 2
list

['Hello', 100, [200], 'innomatics']

In [ ]:
# Method 2

list = ['Hello',100,[],'innomatics']
list[2].insert(0,200)                      # insert a value inside the inner list by using insert method and indexing
list

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [ ]:
# CODE HERE
tpl = ("Innomatics")

In [ ]:
# Method 1

tpl = ("Innomatics")                                   # a string
lst = []                                               # an empty list which is further used to append elements
for i in range(len(tpl)) :
  lst.append(tpl[-(i+1)])                              # append elements  to list starting from last element of string
tuple(lst)                                             # returning the output in tuple format

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [ ]:
# sorted method

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [ ]:
tpl = (1,2,3)+(4,)                                   # concatinating two tuples where second tuple contains exactly one value
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [ ]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
result = []                                       # empty list to append updated tuples
for i in tpl :
   i += (100,)                                    # for every tuple inside list add another value 00
   result.append(tuple(i))                        # add the updated tuple to the result list
print(result)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
result = []                                      # empty list to append the updated tuples
for i in range(len(tpl)) :
   result.append(tpl[i][:2] + (100,))            # replacing the last element of every tuple within list

print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [ ]:
num_str = '5 2 3 6 6 5'
x = set(num_str)                                  # convert string into set to avoid duplicates
lst = list(x)                                     # convert set into list to do sorting in ascending order
lst.sort()
print(num_str)
print(f'second highest is : {lst[-2]}')           # print second highest value

5 2 3 6 6 5
second highest is : 5

In [ ]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
# CODE HERE

[24, 35, 70, 155]

In [ ]:
num_lst = [12,24,35,70,88,120,155]
updated_lst = [i for i in num_lst if i not in  (num_lst[0],num_lst[4],num_lst[5])]
updated_lst

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:
x = (1,2,3,4,5,6,7,8,9,10)
a = x[ : len(x)//2]                               # slicing first half of tuple
b = x[len(x)//2 : ]                               # slicing second half of tuple
print(a,b)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

(2, 4, 6, 8, 10)

In [ ]:

lst = [i for i in (1,2,3,4,5,6,7,8,9,10) if i % 2 == 0]      # list comprehension
tuple(lst)                                                   # convert to tuple

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution

List | Tuple
-----|------
 Lists are mutable, meaning you can modify, add, or remove elements after the list has been created.|Tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed.
 Lists are defined using square brackets [] | Tuples are defined using parentheses ()
  Lists are generally slower than tuples because they support more operations (like appending, modifying, etc.) and are mutable.|Tuples are faster than lists due to their immutability, making them more memory efficient.
  Lists have more built-in methods, such as append(), extend(), remove(), pop(), etc., to modify the collection.|Tuples have fewer methods. You can use methods like count() and index(), but they don't have methods for modifying the data (e.g., no append() or remove())
  Lists use more memory due to their mutability.|Tuples consume less memory because they are immutable.

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution

append() | extend()
---------|---------
Adds a single element at the end of a list |Adds multiple elements from an iterable to the end of list
Adds the whole object as a single element (even if it's a list)|Adds each element from the iterable individually
ex : my_list.append(4) → [1, 2, 3, 4] | ex : my_list.extend([4, 5]) → [1, 2, 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution

pop() | remove()
------|---------
Removes the element at a specific index or the last element if no index is given|Removes the first occurrence of a specified value
Returns the removed element|Does not return anything (returns None)
Useful when you know the index or need to work with the removed element|Useful when you want to remove by value
pop(1) removes the element at index 1|remove(3) removes the first occurrence of 3

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)