<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/04_Sets_exercise_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [ ]:
# CODE HERE

# Method 1

# creating a set using {} braces

s = {1 , 2 , 'innomatics', 'hub'}
print(s)

{1, 2, 'hub', 'innomatics'}

In [ ]:
# creating a set using set() constructor

s = set((1 , 2 , 'innomatics', 'hub'))
print(s)

{1, 2, 'hub', 'innomatics'}

In [ ]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [ ]:
# CODE HERE
s

{1, 2, 'hub', 'innomatics'}

In [ ]:
s.add('Technology')                                         # adding an element to s
s

{1, 2, 'Technology', 'hub', 'innomatics'}

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [ ]:
# CODE HERE
# Method 1

# creating a set using curly braces

sc = {3,4, 'hub', 'Technology'}
sc

{3, 4, 'Technology', 'hub'}

In [ ]:
# Method 2

# creating a set using set() constructor

sc = set((3,4, 'hub', 'Technology'))
sc

{3, 4, 'Technology', 'hub'}

In [ ]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [ ]:
# CODE HERE
print(f's = {s}, sc = {sc}')

s = {1, 2, 'innomatics', 'Technology', 'hub'}, sc = {'hub', 'Technology', 3, 4}

In [ ]:
s-sc                                  #  difference between sets (s-sc),returns elements that are in the first set but not in the second set

{1, 2, 'innomatics'}

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [ ]:
# CODE HERE

s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [ ]:
s.remove(2)                             # removes 2 from set s
s

{1, 'Technology', 'hub', 'innomatics'}

In [ ]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [ ]:
# CODE HERE
s, sc

({1, 'Technology', 'hub', 'innomatics'}, {3, 4, 'Technology', 'hub'})

In [ ]:
# finding intersection of sets s and sc
intersection_set = s & sc                              # returns common elements between two sets
intersection_set

{'Technology', 'hub'}

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [ ]:
# CODE HERE
s,sc

({1, 'Technology', 'hub', 'innomatics'}, {3, 4, 'Technology', 'hub'})

In [ ]:
# fiding union of sets s and sc

union_set = s | sc                                  # Combines elements from two sets, removing duplicates.
union_set

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [ ]:
# CODE HERE

# Method 1

fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']
fruits.update(colors)                               # adding multiple elements to set
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [ ]:
# Method 2

fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']

for i in colors :                                 # iterating over colors list adding each element of list to fruits set
  fruits.add(i)

print(fruits)

{'red', 'green', 'orange', 'apple', 'kiwi'}

In [ ]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [ ]:
# CODE HERE
set1 = {10, 20, 30, 40, 50}

In [ ]:
# using set difference method

remove_items_set = {10,20,30}
set1-remove_items_set                          # difference between sets,returns elements that are in the first set but not in the second set

{40, 50}

In [ ]:
# using difference update method

set1 = {10, 20, 30, 40, 50}
remove_items_set = {10,20,30}

set1.difference_update(remove_items_set)      # Removes all elements from the remove_items_set that are in the given set1. Modifies the original set1.

set1

{40, 50}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)