<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/05_Dictionary_execrise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [ ]:
# CODE HERE

In [ ]:
# Method 1

# using curly braces

person1 = {'Gender' : 'Male','Location' : 'Nizampet, Hyderabad','Name' : 'John', 'Ocuupation' : 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Ocuupation': 'Data Scientist'}

In [ ]:
# Method 2

# using dict() constructor

person1 = dict(Gender = 'Male', Location = 'Nizampet, Hyderabad', Name = 'John', Occupation = 'Data Scientist')
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
# Method 3

# using zip function

keys = ['Gender', 'Location', 'Name', 'Ocuupation']
values = ['Male', 'Nizampet, Hyderabad', 'John', 'Data scientist']

person1 = dict(zip(keys,values))
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Ocuupation': 'Data scientist'}

In [ ]:
# Method 4

# adding key-value pairs to empty dictionary

person1 = {}

person1['Gender'] = 'Male'
person1['Location'] = 'Nizampet, Hyderabad'
person1['Name'] = 'John'
person1['Occupation'] = 'Data Scientist'

person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [ ]:
# Method 1

keysList = list(person1.keys())
keysList

['Gender', 'location', 'Name', 'Occupation']

In [ ]:
# Method 2

# using list comprehension

keyslist = [i for i in person1]
keysList

['Gender', 'location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [ ]:
person1 = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
del person1['Location']
print(person1)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

In [ ]:
person1.pop('Location')
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# Method 1

# Using curly braces

person2 = {'Name' : 'Raghu Ram', 'Gender' : 'Male', 'Age' : 25, 'Occupation' : 'Data Scientist'}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

In [ ]:
# Method 2

# using dict() constructor

person2 = dict(Name = 'Raghu Ram', Gender = 'Male', Age = 25, Occupation = 'Data Scientist')
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

In [ ]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [ ]:
person1 = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
person2 = {'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

In [ ]:
print('=================== person1 ===================')
print(person1)
print('=================== person2 ===================')
print(person2)

=================== person1 ===================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
=================== person2 ===================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [ ]:
# CODE HERE

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [ ]:
numDict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [ ]:
# Method 1

# using del function

del numDict[4]                            # deletes the specified key and its value from dictionary
numDict

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49}

In [ ]:
# Method 2

# using pop() method

numDict.pop(2)                             # pops the specified key and its value from dictionary
numDict

{1: 1, 3: 9, 5: 25, 6: 36, 7: 49}

In [ ]:
# Method 3

# using popitem() method

numDict.popitem()                             # pops the last key and its value from dictionary
numDict

{1: 1, 3: 9, 5: 25, 6: 36}

In [ ]:
# Method 4

# using clear() method

numDict.clear()                              # removes all key value pairs and returns an empty dictionary
numDict

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
myDict = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sortedDict = sorted(myDict.values(), reverse = True)
sortedDict

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [ ]:
# Method 1

# using update() method

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

mergedDict = dict1.copy()
mergedDict.update(dict2)
mergedDict.update(dict3)
mergedDict

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [ ]:
# Method 2

# using union operator

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

mergedDict = dict1 | dict2 | dict3
mergedDict

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [ ]:
# Method 3

# using dictionary comprehension

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

mergedDict = {k:v for i in [dict1,dict2,dict3] for k,v in i.items()}
mergedDict

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [ ]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [ ]:
# CODE HERE

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500       # we are accessing salary key of emp3 dictionary of sample_dict
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [ ]:
# CODE HERE

sampleDict = { "class": { "student": { "name": "Mike", "marks": { "physics": 70, "history": 80 } } } }

sampleDict['class']['student']['marks']['history']

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [ ]:
# CODE HERE

myDict = {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

updatedDict = {'Area' if k == 'Location' else k:v for k,v in myDict.items()}     # used ternary operator within dict comprehension
updatedDict

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [ ]:
database = {'ram':1234,'raghu':5678,'kanav':1357}

In [ ]:
# if the username and password matches print hello username

username = input('Enter username : ')
password = input('Enter password : ')

assert username.isalpha() == True and password.isdecimal() == True, 'Enter valid inputs'
password = int(password)

if (username,password) not in database.items() :                           # if username and password doesn't match
       ask = input('yow want me to add into the database.(yes/no): ')
       if ask.lower() == 'yes' :
        database[username] = password                                      # if user says 'yes', database is updated
       else :
        print('database is not updated')                                   # if user says 'no', database is not updated(remains same)
else :
     print(f'hello {username}')                                            # if username and password matches with database values



print(database)

Enter username : raghav
Enter password : 9876
yow want me to add into the database.(yes/no): yEs
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'raghav': 9876}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)