<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/05_If_else%2C_for_loop_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [ ]:
minute = int(input('Enter minute (positive number and not greater than 60) : '))
assert minute >= 0 and minute <= 60, 'Enter a number between 0 to 60 (inclusive)'

if minute % 2 != 0:
    print(f'minute : {minute} \nThis is odd minute')
else :
    print(f'minute : {minute} \nThis is not an odd minute')

Enter minute (positive number and not greater than 60) : 53
minute : 53
This is odd minute

In [ ]:
#CODE HERE

minute : 53
This is Odd minute

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [ ]:
today = input('Enter the day : ')
today.lower()
assert (today in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'])  == True , 'Enter the weekday'

if today == 'saturday':
  print('Party!!!')

elif today == 'sunday':
  print('take rest')

else :
  print('work,work,work')

Enter the day : saturday
Party!!!

In [ ]:
#CODE HERE

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3201):                            # both 2000 and 3200 are included in the given range
  if i % 7 == 0 and i % 5 != 0:                       # checks number is divisible by 7 but not divisible by 5
    print(i, end = ',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
#CODE HERE

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [ ]:
num = int(input('Enter a number: '))
assert num >= 0, 'Enter a number greater than zero'      # factorial for negative numbers do not exist

factors = ''
fact = 1

if num == 0:
                                                         # factorial of 0 is 1
    factors = '1'
else:
    for i in range(1, num + 1):
        fact *= i                                        # calculate the factorial of the num
        factors += str(i)                                # appending the factors of num to string 'factors'
        if i != num:
            factors += ', '                              # sepearating factots within string by comma

print(f'Factors of {num}! are: {factors}')
print(f'{num}! = {fact}')

Enter a number: 8
Factors of 8! are: 1, 2, 3, 4, 5, 6, 7, 8
8! = 40320

In [ ]:
#CODE HERE

Enter the value to compute the factorial: 8
8! = 40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [ ]:
n = int(input('Enter the number for generating a dictionary of number and it\'s squares: '))
squaredDict = {i:i*i for i in range(1,n+1)}                 # using dict comprehension
squaredDict

Enter the number for generating a dictionary of number and it's squares: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#CODE HERE

Enter the value: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [ ]:
n1 = int(input('Enter first value : '))
n2 = int(input('Enter second value : '))
op = input('Enter the keyword {add, sub, mul, div, pow}: ')
op.lower()
if op == 'add' :
  print(f'sum of {n1} and {n2} is : {n1+n2}')
elif op == 'sub' :
   print(f'diff of {n1} and {n2} is : {n1-n2}')
elif op == 'mul' :
   print(f'product of {n1} and {n2} is : {n1*n2}')
elif op == 'div' :
   print(f'division of {n1} by {n2} is : {n1/n2}')
else :
   print(f'power of {n1} by {n2} is : {n1**n2}')

Enter first value : 8
Enter second value : 6
Enter the keyword {add, sub, mul, div, pow}: pOw
power of 8 by 6 is : 262144

In [ ]:
#CODE HERE

Please enter the value : 8
Please enter the value : 6
Enter the keyword {add, sub, mul, div, pow}:pow
==============================
Power of 8 by 6 is : 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [ ]:
word = input("ENter the text: ")
digitCount = 0
letterCount = 0

for i in word:
  if i.isdigit() == True :
    digitCount += 1
  if i.isalpha() == True :
    letterCount += 1

print(f'Digit - {digitCount}')
print(f'Letter - {letterCount}')

ENter the text: hi12
Digit - 2
Letter - 2

In [ ]:
# CODE HERE

ENter the text: innomatics1231239746
Digit - 10
Letter - 10

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [ ]:
# METHOD - 1

tpl = (1,2,3,4,5,6,7,8,9,10)

for i in range(len(tpl)//2):
  print(tpl[ : (len(tpl)//2)][i] ,end = ' ')

print()

for i in range(len(tpl) - len(tpl)//2):
  print(tpl[(len(tpl)//2) : ][i] ,end = ' ')

1 2 3 4 5
6 7 8 9 10

In [ ]:
# METHOD - 1

1 2 3 4 5
6 7 8 9 10

In [ ]:
# METHOD - 2

tpl = (1,2,3,4,5,6,7,8,9,10)

print(tpl[:i//2 +1] , tpl[i//2+1 : ])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [ ]:
# METHOD - 2

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)

print(list(tpl[:(len(tpl)//2) ]))
print(list(tpl[(len(tpl)//2) : ]))

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
# METHOD - 3

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [ ]:
tpl = (1,2,3,4,5,6,7,8,9,10)
result = []
for i in tpl :
  if i % 2 == 0 :
    result.append(i)

print(tuple(result))

(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [ ]:
text = input("Please type something. --> ")

text1 = text.lower()
print('Yes' if text1.islower() and text1.isalpha() else 'No')

Please type something. --> hi#
No

In [ ]:
text = input("Please type something. --> ")

Please type something. -->

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [ ]:
import random

numList = []                                    # to add random numbers to the list

for i in range(5):
  if len(numList) <= 5:
    numList.append(random.randint(100, 201))    # adding random numbers


print(numList)

[114, 166, 115, 136, 120]

In [ ]:
import random

[139, 188, 145, 194, 143]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [ ]:
import random

print(random.uniform(5,95))

22.991685414519118

In [ ]:
import random

50.407397170147895

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [ ]:
lst = [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
uniqueValues = set(lst)
print(uniqueValues)

{1, 3, 4, 5, 6, 7, 8}

In [ ]:
lst = [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
count = 0
for i in set(lst) :
  print(f'{i} exists in given list {lst.count(i)} times')
  count = 0

1 exists in given list 4 times
3 exists in given list 2 times
4 exists in given list 3 times
5 exists in given list 1 times
6 exists in given list 1 times
7 exists in given list 1 times
8 exists in given list 3 times

In [ ]:
lst = [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
countDict = {i : lst.count(i) for i in lst}
# print(max(countDict.values()))
maxCount = max(countDict.values())

maxNum = {k for k,v in countDict.items() if v == maxCount}
print(f'number that occurred maximum times : ',maxNum)

number that occurred maximum times :  {1}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)