<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/07_Functions_and_Methods_execrise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [ ]:
def vol(rad):
    # code here

In [ ]:
def vol(rad):
  return (4/3)*(3.14)*(rad)**3                            # pi = 3.14 and rad = radius of sphere

vol(5)

523.3333333333334

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    assert low < high , 'high value must greater than low value.kindly recheck your entries'
    if low <= num <= high :
      print(f'{num} is in range({low},{high})')
    else :
      print(f'{num} is not in range({low},{high})')

In [ ]:
ran_check(5,3,4)

5 is not in range(3,4)

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    assert low < high , 'high value must greater than low value.kindly recheck your entries'
    if low <= num <= high :                  # if number is in given range, then return true
      return True
    else :                                   # if number is not in range, then return false
      return False

In [ ]:
ran_bool(5,3,7)

True

In [ ]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_low(s):
    upper_count = 0
    lower_count = 0
    for i in s:
      if i.isupper():                           # if letter is uppercase letter,increment the uppercase count
       upper_count += 1
      elif i.islower() :                        # if letter is lowercase letter,increment the lowercase count
       lower_count += 1
    print(f'No. of upper case characters : {upper_count}')
    print(f'No. of lower case characters : {lower_count}')

In [ ]:
up_low('Hurray Hurray!')

No. of upper case characters : 2
No. of lower case characters : 10

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(l):
  unique_list = set(l)                           # converting input list to set using set function to get unique elements
  return list(unique_list)

In [ ]:
unique_list([1,1,1,1,1,1,1,2,2,3,3,5,5,8])

[1, 2, 3, 5, 8]

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):
    x = 1
    for i in numbers :
      x *= i
    return x

In [ ]:
multiply([1,2,3,4,-5])

-120

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome(s):
    for i in range(len(s)//2):
      if s[i] == s[-(i+1)] :       # checks letters from backward and forward are same
        return True                # it's a palindrome
      else :
        return False               # it's not a palindrome

In [ ]:
palindrome('madam')

True

In [ ]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [ ]:
# CODE HERE
def summation(n):
 #Code here
  if n == 0:
    return 0
  return n + summation(n-1)


n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [ ]:
def printList():
#Code here
  return [x**2 for x in range(1,21)]

printList()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [ ]:
def printDict():
    #Code Here
    d = {x : x**2 for x in range(1,21)}                # creating a dictionary where keys are numbers and values are square of keys
    return d.keys()                                    # printing only keys from dictionary d

printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [ ]:

def charNum(sent):
  sentList = sent.split()

  for i in sentList:
    print(f'{i} : {len(i)}')

sent = input('Enter the text : ')
charNum(sent)

Enter the text : hi hello hurray
hi : 2
hello : 5
hurray : 6

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [ ]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here
squaredNumbers = map(lambda x : x ** 2 ,li)                  # syntax : map(function,iterator) .....returns a map object


print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [ ]:

def even(x):
#Code here
  return filter(lambda i: i % 2 == 0, x)

def squer(x):
    #Code here
  return map(lambda i : i ** 2, even(x))

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#evenNumList
even(li)
#squaredEvenNumList
li = squer(li)

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [ ]:
# CODE HERE
def even(x):
#code here
  return  x % 2 == 0

evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [ ]:
def f(n):
# Code here
  if n == 0:
   return n
  elif n == 1:
   return n
  else :
   return f(n-1) + f(n-2)
n = int(input("Enter n value"))
assert n >= 0 , 'Enter a positive integer'
print(f(n))

Enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)