<a href="https://colab.research.google.com/github/DhanaTejaDumpa/python_practise/blob/main/1_Variables_and_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [ ]:
print("My Name is Teju")

My Name is Teju

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

#### Variable :
A variable is a container used to store data values that can be referenced and manipulated throughout a program.The value of variable can change during execution.
<center>or</center>
A variable is a pointer to the memory location,where the data has been stored.It stores data temporarily that caan change while program is running.

* <b>Name :</b> Each variable has a unique name to identify it in the code.
* <b>Data Type :</b> Variables are assigned a datatype(like integer,string,boolean)which defines what kind of data they can hold.
* <b>Value :</b> The actual data stored within a variable can be changed during program execution.

In [ ]:
age = int(input("Enter your age : "))   # age is a variable
print("your age is:", age)
age = age + 1                       # incrementing the value
print("Next year,your age will be :",age)

Enter your age : 25
your age is: 25
Next year,your age will be : 26

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [ ]:
width = 17
height = 12.0
delimeter = '.'
print(f'width/2 value is {width/2} and it belongs to {type(width/2)} type')
print(f'width/2.0 value is {width/2.0} and it belongs to {type(width/2.0)} type')
print(f'height/3 value is {height/3} and it belongs to {type(height/3)} type')
print(f'1+2*5 value is {1+2*5} and it belongs to {type(1+2*5)} type')
print(f'delimeter*5 value is {delimeter*5} and it belongs to {type(delimeter*5)} type')

width/2 value is 8.5 and it belongs to <class 'float'> type
width/2.0 value is 8.5 and it belongs to <class 'float'> type
height/3 value is 4.0 and it belongs to <class 'float'> type
1+2*5 value is 11 and it belongs to <class 'int'> type
delimeter*5 value is ..... and it belongs to <class 'str'> type

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
first = int(input("Enter your first number :  "))
second = int(input("Enter your second number : "))

result = first + second
print(f'sum of {first} and {second} is {result} ')

Enter your first number :  2
Enter your second number : 3
sum of 2 and 3 is 5

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [ ]:
first_name = input('My first name is :  ')
second_name = input('My second name is:  ')
full_name = first_name + ' '+ second_name
print(f'My full name is : {full_name}')

My first name is :  shreya
My second name is:  saran
My full name is : shreya saran

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [ ]:
print("10 : ",type(10))
print("'10' : ",type(10))
print("True: ",type(10))
print("10.5 : ",type(10))

10 :  <class 'int'>
'10' :  <class 'int'>
True:  <class 'int'>
10.5 :  <class 'int'>

 `Question:`
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [ ]:
num_int = 123
num_str = "456"
result = num_int + int(num_str)
print(f'Sum of {num_int} and {int(num_str)} is : {result} ')

Sum of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3πr3  . What is the volume of a sphere with radius 5?

In [ ]:
r = 5
v = 4/3 * 3.14 * r ** 3
print('Volume of sphere : ',v)

Volume of sphere :  523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
cover_price = 24.95
discount = 40/100 * 24.95
copy1Sc = 3     # shipping charges of first copy
copyrSc = 0.75  # shipping charges of remaining copies
n = 60          # number of copies
totalCost = (cover_price - discount + copy1Sc) + (n-1)*(cover_price - discount + copyrSc)
print(totalCost)

945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)